
.header {
  display: flex;
  margin-bottom: 70px;
}

h1{
  color: #000055;
  padding-left: 20px;
}

.nav {
  justify-content: space-between;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.nav .navigation {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav .navigation li {
  width: 100px;
  
}

.nav .navigation li a {
  text-decoration: none;
  color: #000055;
  font-weight: bold;
}

.main {
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.language {
  border-bottom: 110px solid #008;
  margin-top: 450px;
  margin-left: auto;
  margin-right: auto;
  font-size: 70px;
  width: 1050px;
  position: absolute;
  z-index: 1;
}

.picture {
  margin: 0 0 0 auto;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: flex-end;
}


.pictures {
  width: 700px;
  height: 580px;
  margin-left: auto;
  float: right;
  z-index: 2;
}
