
.header{
  display: flex;
  
}

h1{
  color: #000055;
  padding-left: 20px;
}

.nav {
  justify-content: space-between;
  margin: 0 0 0 auto;
  overflow: hidden;
}

.nav .navigation {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: flex;
}

.nav .navigation li {
  width: 100px;
  
}

.nav .navigation li a {
  text-decoration: none;
  color: #000055;
  font-weight: bold;
}

.main {
    display: flex;
    position: relative;
}

.language {
    border-bottom: 85px solid #005;
    position: absolute;
}

.picture {
    margin: 0 0 0 auto;
    position: absolute;
    width: 400px;
    height: 400px;
}


.pictures{
  margin-left: auto;
}
